@import '_h5bp';

@import '_fonts';

/*
Style Guide Lines. Remove if you prefer your own library
 */
body {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  	font-weight: normal;
    margin: 0;
}

* {
  box-sizing: border-box;
}

h1, p {
  text-align: center;
}

.card {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
  position: relative;
  background: #fff;
  display: block;
  color: #212121;
}
