@import '_h5bp';

@import '_fonts';

@import 'mixins/_transitions';

/*
Style Guide Lines. Remove if you prefer your own library
 */
body {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  	font-weight: normal;
    margin: 0;
}

h1 {
  text-align: center;
}

#header {
	margin: 8px;

}

#new-topic {
	margin: 16px;
	font-size: 16px;
	height: 48px;
	border: none;
	border-bottom: 1px solid #757575;
}

#stat-section {
	span {
		padding: 8px 16px;
		&.topic {
			border-right: 1px solid rgba(0, 0, 0, 0.12);
		}
	}
}

#side-section {
	width: 40%;
	float: left;
	border-radius: 2px;
	margin: 8px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#main-section {
	width: 50%;
	float: left;
	border-radius: 2px;
	margin: 8px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#side-section , #main-section {
	ul {
		list-style: none;
		padding: 16px;
		li {
			padding: 16px;
			span {
				display: inline-block;
				font-size: 0.8em;
				&.count {
					float: right;
					margin-right: 8px;
					padding: 4px;
					background: #64B5F6;
					border-radius: 4px;
				}
			}
		}
	}
	h3 {
		padding: 16px;
	}
}
