@import '_h5bp';

@import 'components/_vote';
@import 'components/_navigation';
@import 'components/_login';

/*
Style Guide Lines. Remove if you prefer your own library
 */
body {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  	font-weight: normal;
    margin: 0;
}

* {
  box-sizing: border-box;
}
