@import 'settings.scss';

@mixin simpleBoxShadow() {
  box-shadow: 0 1px 2px $color-black;
}

@mixin input() {
  padding: 0.75rem 1rem;
  border: 2px solid $color-loblolly;
  border-radius: $global-radius;
  width: 100%;

  background-color: $color-white;
  color: $color-limed-spruce;
  font-family: $font-family;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 0.75rem;
}

@mixin button($background: $color-salem, $width: 100%) {
  display: block;
  padding: 0.75rem 1.25rem;
  width: $width;

  background-color: $background;
  color: $color-white;
  font-family: $font-family;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  border-radius: $global-radius;
  border-style: solid;
  border-color: $background;
  border-width: 2px;

  cursor: pointer;
  transition: 0.1s background-color ease;

  &:hover {
    $darkerColor: darken($color-salem, 10%);
    background-color: $darkerColor;
    border-color: $darkerColor;
  }
}

