

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$font-family: 'Montserrat', Helvetica, Arial, sans-serif;

$font-small: 12px;
$font-medium: 16px;
$font-large: 21px;
$font-x-large: 28px;

$color-black: #000;
$color-white: #fff;
$color-dodger-blue: #2196F3;
$color-salem: #0F9D58;
$color-punch: #db4437;
$color-loblolly: #c3c8ce;
$color-limed-spruce: #333f48;
$color-athens-gray: #f5f5f6;
$color-mercury: #e3e3e3;
$color-bombay: #b4bac1;
$color-crimson: #ed193a;

$global-radius: 4px;

