{
  "plugins": ["react"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "quotes": [2, "single"],
    "eol-last": [2],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "camelcase": 2,
    "dot-notation": [2, {"allowSnakeCase": true}],
    "curly": false,
    "new-cap": 1,
    "no-unused-expressions": false,
    "no-unused-vars": 1,
    "no-undef": 1,

    "react/jsx-boolean-value": 2,
    "react/jsx-quotes": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/wrap-multilines": 2
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "blockBindings": true
  }
}
