{
  "rules": {
    "indentation": 2,
    "max-empty-lines": 2,
    "no-extra-semicolons": true,
    "color-no-invalid-hex": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-trailing-semicolon": "always",
    "declaration-block-semicolon-newline-after": "always",
    "block-closing-brace-newline-after": "always",
    "unit-whitelist": ["px", "em", "rem", "%", "s", "deg"]
  }
}
