@value montserrat from './common/typography.css';

/*
 * Add any global styles here
 */
* {
  box-sizing: border-box;
}

.app {
  margin: 0;

  font-family: montserrat;
  font-weight: normal;
  font-smoothing: antialiased;
}
