

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$font-family: 'Montserrat', Helvetica, Arial, sans-serif;

$font-small: 12px;
$font-medium: 16px;
$font-large: 21px;
$font-x-large: 28px;

$color-black: #000;
$color-white: #fff;
$color-dodger-blue: #2196F3;
$color-salem: #0F9D58;
$color-punch: #db4437;


$global-radius: 4px;
