@import 'settings.scss';

.about {
  padding: 0 24px;
}

  .about__header {
    color: $color-black;
    font-size: $font-large;
    text-align: center;
  }

  .about__description {
    font-size: $font-medium;
  }
