@import 'scss/settings';

.about {

  padding: 0 48px;
  padding: 0 3.32871010721496vw;

}

  .about__header {
    
    color: $color-black;
    font-size: $font-x-large;

  }

  .about__description {
    
    font-size: 16px;

  }
