@import 'settings.scss';
@import 'mixins.scss';

.login {
  width: 420px;
  margin: 0 auto;
  padding: 16px 12px;
  background-color: $color-athens-gray;
  border: 2px solid $color-mercury;
  border-radius: $global-radius;
}

  .login--waiting {
    .login__fieldset {
      display: none;
    }
    .login__loading {
      display: block;
    }
  }

  .login__alternative {
    background: $color-white;
    padding: 12px 8px;
    margin: 12px;

    font-size: $font-medium;
  }

  .login__alternative-link {
    color: $color-dodger-blue;
    font-weight: bold;

    cursor: pointer;
  }

  .login__loading {
    display: none;
    text-align: center;
    margin: 24px auto;
  }

  .login__email-container {
    padding-bottom: 24px;
    border-bottom: 2px solid $color-mercury;
  }

  .login__header {
    font-size: $font-large;
    font-weight: normal;
    text-align: center;
  }

  .login__input {
    @include input;
  }

  .login__message {
    color: $color-crimson;
    font-size: $font-small;
  }

  .login__button {
    @include button;
  }

  .login__hint {
    color: $color-bombay;
    font-size: $font-small;
  }
