/*
 * Navigation Menu for the Navigation.react
 */

.navigation {

  padding: 0 28.444444444444443px;
  padding: 0 1.97256895242368vw;

  // .navigation__item
  &__item {
    
    display: inline-block;
    text-decoration: none;
    padding: 14.3599996566772px 28.7199993133545px;
    padding: 1vw 1.5vw;
    color: #000;

    // .navigation__item--logo
    &--logo {

      font-size: 34.13327980041504px;
      font-size: 2.367079030500787vw;

    }
    
    // .navigation__item--active
    &--active {

      color: #2196F3;

    }

  }

}

