.div-modal {
  &__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &__content{
      &--show {
        position: absolute;
        width: 500px;
        height: 400px;
        border-radius: 4px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #fff;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }
      &--hide {
        position: absolute;
        visibility: hidden;
        left: -9999px;
        bottom: -9999px;
      }
  }

  &__logintoggle {
    cursor: pointer;
    text-align: center;
    color: #2196F3;
  }

}

.mui-button {
  &__login {
    display: block;
    margin: 15px auto;
    font-size: 1rem;
    line-height: 1rem;
    width: 12rem;
    height: 2rem;
    border: none;
    background-color: #d23f31;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    border-radius: 2px;
    font-family: 'Roboto Condensed';
    color: #fff;
  }
}