nav {
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
  height: 56px;
  line-height: 56px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  // nav.div-navwrapper
  .navwrapper {
    padding: 0 10px;
    position: relative;
    height: 100%;

    a {
      text-decoration: none;
      color: #fff;
    }
    // nav.div-navwrapper__logo
    &__logo {
      position: absolute;
      display: inline-block;
      font-size: 2.1rem;
      padding:0;
    }

    ul {
      float:right;
      margin: 0;
      list-style: none;
    }
    li {
      display: inline;
      padding-right: 8px;
    }
  }
}


