/* Styles Modified from : https://github.com/gpbl/material-ui-sass */
/* Following BEM style */
.mui-paper {
	&--rounded {
		border-radius: 2px;
		
		& > .mui-paper-container {
			border-radius: 2px;
		}		
	}

	&--circle {
		border-radius: 50%;

		& > .mui-paper-container {
			border-radius: 50%;
		}
	}

	& > .mui-paper-container {
		height: 100%;
		width: 100%;
	}

	&--z-depth-1 {
		/*box shadow: [inset? && [ <offset-x> <offset-y> <blur-radius> <spread-radius> <color>]]; */
		/* <offset-x> and <offset-y> :If both values are 0, the shadow is placed behind the element 
		(and may generate a blur effect if <blur-radius> and/or <spread-radius> is set). */
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
		& > .mui-z-depth-bottom { box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12); }
	}

	&--z-depth-2 {
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
		& > .mui-z-depth-bottom { box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16); }
	}

	&--z-depth-3 {
	    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23);
	    & > .mui-z-depth-bottom { box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19); }
	}

  	&--z-depth-4 {
    	box-shadow: 0 10px 18px rgba(0, 0, 0, 0.22);
    	& > .mui-z-depth-bottom { box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25); }
  	}

  	&--z-depth-5 {
    	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22);
    	& > .mui-z-depth-bottom { box-shadow: 0 19px 60px rgba(0, 0, 0, 0.30); }
  	}
}