.header {
  composes: heading from '../common/typography.css';
  text-align: center;
}

.description {
  composes: normal from '../common/typography.css';
}

.contribute {
  composes: small from '../common/typography.css';
}
