@import 'settings.css';
@import 'common/colors.css';

.about {
  padding: 0 24px;
}

  .about__header {
    font-size: $font-large;
    text-align: center;
  }

  .about__description {
    font-size: $font-medium;
  }
