.chatwindow{
  border: solid 1px grey;
  width:500px;
  height:500px;
  overflow: scroll;
  margin-bottom: 10px;
  padding:0 8px;

}

.message {
  padding:2px;
  margin-bottom:4px;
  p {
    margin: 0;
  }
}
.userMessage {
  border: 1px solid grey;
}
.messageWindow {
  list-style-type: none;
  padding:0;
}
