

.chat{
  max-width: 850px;
  margin: 0 auto;
}

.topdisplay{
  composes: clearfix from '../common/layout';
}

.header {
  composes: heading from '../common/typography';
  text-align: center;
}

.description {
  composes: normal from '../common/typography';
}

.contribute {
  composes: small from '../common/typography';
}

.sendbutton{

  margin-top:10px;
  composes: greenButton from '../common/button';
  width:500px;
}
