@import 'settings.css';
@import 'common/colors.css';

.login {
  width: 420px;
  margin: 0 auto;
  background-color: $color-athens-gray;
  border: 2px solid $color-mercury;
  border-radius: $global-radius;
}

  .login--waiting {
    .login__fieldset {
      display: none;
    }
    .login__loading {
      display: block;
    }
  }

  .login__alternative {
    background: $color-white;
    padding: 12px 8px;

    font-size: $font-medium;
    text-align:center;
  }

  .login__alternative-link {
    color: $color-dodger-blue;
    font-weight: bold;

    cursor: pointer;
  }

  .login__loading {
    display: none;
    text-align: center;
    margin: 24px auto;
  }

  .login__email-container {
    padding: 16px 12px;
    border-bottom: 2px solid $color-mercury;
  }

  .login__google-container {
    padding: 16px 12px;
  }

  .login__header {}

  .login__heading {
    padding: 16px 12px;
    font-size: $font-large;
    font-weight: normal;
    text-align: center;
  }

  .login__input {
    composes: input from '../common/input.css';
  }

  .login__message {
    color: $color-crimson;
    font-size: $font-small;
  }

  .login__button {
    composes: greenButton from '../common/button.css';
  }

  .login__hint {
    color: $color-bombay;
    font-size: $font-small;
  }
