@import '../settings';
@import '../common/typography';
@import '../common/card';

.main-section {
  @apply --card;
  width: 50%;
  border-radius: var(--globalRadius);
}

.header {
  @apply --title;
  @apply --subHeading;
  background: #ed193a;
  color: #fff;
}

.list {
  list-style: none;
  padding: 16px;
}

