@import '../common/typography';
@import '../common/layout';
@import '../common/card';

.scoreboard {
  @apply --card;
  width: 40%;
}

.header {
  @apply --title;
  @apply --subHeading;
  background: #0F9D58;
  color: #fff;
}

.list {
  padding: 16px;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
}

.topic {
  @apply --flexNotMoreThan200;
  font-size: var(--fontMedium);
}
