@import 'settings.css';

.scoreboard {
  composes: card from '../common/card.css';
  width: 40%;
  margin: 16px;
}

  .header {
    composes: title from '../common/card.css';
    composes: subheading from '../common/typography.css';
    background: #0F9D58;
    color: #fff;
  }

  .list {
    padding: 16px;
    list-style: none;
  }

  .scoreboard__list-item {
    display: flex;
    justify-content: space-between;
  }

  .scoreboard__topic {
    display: inline-block;
    font-size: $font-medium;
  }
