@import '../common/typography';
@import '../common/colors';
@import '../common/layout';

.topic-item {
  display: flex;
  justify-content: space-between;
}

.topic {
  @apply --flexNotMoreThan200;
  font-size: var(--fontMedium);
}

.button {
  font-size: var(--fontMedium);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  margin: 0 28px;
  color: #fff;
}

.increment {
  background-color: var(--colorSalem);
}

.decrement {
  background-color: var(--colorDodgerBlue);
}

.destroy {
  background-color: var(--colorPunch);
}

